.smallConta{
    height:50px;
    width:50px;
    margin-left: 10px;

}

.inp{
    background-color: black;
    height: ;

}

.image{
    height:500px;
    width:500px;

}

/* 
#imgLi{
    width: 300px;
    height: 300px;
} */

.containers{
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container2{
    margin-left: 100px;
    padding:10px;
    font-family: Inter;
}


.priceContainer{
    display: flex;
}

.red{
    color:red;
    margin-top: 30px;
    margin-left: 20px;
}

#col{
    display: flex;
}

.button{
    background-color: #3A4980;;
    height: 50px;
    width: 220px;
    color:white;
    border: none;
    border-radius: 16px;
    padding:5px;
}

#description{
    padding:10px;
}

.buttonContainer{
    margin-left: 100px;
    height:50px;
    width:70px;
}

.cartContainer{
    display: flex;
    margin-top: 40px;
}

p{
    color: #B9BBBF;
}

#compare{
    text-decoration: line-through;
}

.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #B9BBBF;
    border-radius: 20px;
    color:black;
    height:40px;
    width:100px;
}
